@page
@model User.Pages.IndexModel
@{
}
<style>
   #yot{
       position:absolute;
       left:10%;
       top:40%;
       font-size:250%;
   }
   button{
        position: absolute;
       width:13%;
       height:5%;
        left: 10%;
        top: 65%;
   }

   #jjj{
        position: absolute;
        left: 30%;
        top: 80%;
        font-size: 150%;

   }
   #ioi{
        position: absolute;
        left: 20%;
        top: 90%;
        font-size: 120%;

   }
   #king{
        position: absolute;
        top: 100%;
        left:1%;
        font-size: 120%;
        background-color: lightgrey;
        width: 100%;
        height:145%;
       
        padding: 50px;
        margin: 20px;
   }
   #side1{
        position: absolute;
        left: 5%;
        top: 10%;

   }
   #side2{
        position: absolute;
        left: 25%;
        top: 10%;

   }
   #side3{
        position: absolute;
        left: 45%;
        top: 10%;

   }
   #side4{
        position: absolute;
        left: 5%;
        top: 40%;

   }

    #side5{
        position: absolute;
        left: 25%;
        top: 40%;
    }

    #side6 {
        position: absolute;
        left: 45%;
        top: 40%;
    }
    #side7{
        position: absolute;
        left: 5%;
        top: 80%;
    }
    #side8{
        position: absolute;
        left: 25%;
        top: 80%;
    }
    #side9{
        position: absolute;
        left: 45%;
        top: 80%;
    }
    #love1{
        width:35%;
        top:30%;
        position:absolute;
        left:60%;

    }
    #oing{
        position:absolute;
        top:250%;
        left:13%;

       background-color:white;
        width: 100%;
        height: 100%;
        padding: 50px;
        margin: 20px;
    }
    #lol{
        width:15%;
        position:absolute;
        left:-5%;

    }
    #lols{
        width: 15%;
        position: absolute;
        left: 10%;

    }
    #lolss{
        width: 15%;
        position: absolute;
        left: 35%;
    }
    #lolsss{
        width: 15%;
        position: absolute;
        left: 55%;

    }
    #kiu{
       position:absolute;
       top:1%;
       left:35%;
       font-size:200%;

    }
    #prime{
        background-color: white;
        width: 50%;
        height: 150%;
        padding: 50px;
        margin: 20px;
        border:1px solid white;
        position:absolute;
        top:300%;
    }
    #int1{
        position:absolute;
        top:-5%;
        left:10%;

    }
    #int2{
        position: absolute;
        top: -5%;
        left: 40%;

    }
    #int3{
        position: absolute;
        top: 3%;
        left: 10%;

    }
    #int4{
        position: absolute;
        top: 3%;
        left: 40%;

    }
    #int5{
        position: absolute;
        top: 11%;
        left: 10%;
    }
    #int7{
        position: absolute;
        top: 11%;
        left: 40%;

    }
    #int8{
        position: absolute;
        top: 20%;
        left: 10%;

    }
    #int9{
        position: absolute;
        top: 30%;
        left: 10%;

    }

   #in1{
       position:absolute;
       top:-1%;
       background-color:whitesmoke;
       left:10%;
       width:25%;
   }    
   #in2{
        position: absolute;
        background-color:whitesmoke;
        top: -1%;
        left: 40%;
        width: 25%;
   }
        #in3 {
        position: absolute;
        background-color: whitesmoke;
        top: 5%;
        left: 10%;
        width: 25%;
    }
    #in4{
        position: absolute;
        background-color: whitesmoke;
        top: 145%;
        width:355%;
        left: 10%;
    }
    #in5{
        position: absolute;
        background-color: whitesmoke;
        top: 15%;
        width: 25%;
        left: 10%;
    }
    #in7{
        position: absolute;
        background-color: whitesmoke;
        top: 15%;
        width: 25%;
        left: 40%;

    }
    #in8{
        position: absolute;
        background-color: whitesmoke;
        top: 255%;
        width: 900%;
        left: 10%;

    }
    #in9{
        position: absolute;
        background-color: whitesmoke;
        top: 35%;
        height:25%;
        width: 50%;
        left: 10%;

    }
 
   </style>
<html>
    <partial name="Nav" />
<body id="hu"> 

    <div class="container">

  <p id="yot"><b>We Are Partnering With Leading, Global <br />Organizations And Independent Consultants <br>To Bring Excellent Value To Our Clients</p></b> 
<button type="button" class="btn btn-primary">Partner&nbsp;with&nbsp;us</button>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </div>
            <div class="conatiner">
        <p id="jjj">
        <p id="jjj">
            <b>   Let’s Do Great Things Together!</b>
            <p id="ioi">
            Our partners around the globe aid us to deliver specialized expertise for <br />solutions/services, and global deployments of the most comprehensive and<br /> integrated safety, quality, and operational problem-solving software for our<br /> customers.
            </p>
            </div>
            <div id="king">
        <p id="side1">IMPLEMENTATION<br /> PARTNERS</p>
        <p id="side2">SALES <br>ASSOCIATIES</p>

        <p id="side3">
            Refer<br />
            Recommend the <br>proven Pro-Inspector <br />platform in your client <br />and professional<br /> network and benefit <br />from expanding our group of customers.
        </p>
        <p id="side4">INDEPENDENT<br /> CONSULTANTS</p>
        <p id="side5">SPECIALITY <br />SERVICES<br /> PARTNERS</p>
        <p id="side6">
            Engage<br />
            Recommend and co-market<br /> Pro-Inspector with us. <br />Benefit from Pro-Inspector <br />deployment by serving <br />the key challenges <br />for client projects.
        </p>
        <p id="side7">TECHNOLOGY<br /> PARTNERS</p>
        <p id="side8">MEMBERSHIPS</p>
        <p id="side9">
            Implement<br />
            Partner with us <br />on business development, <br />and product marketing. <br />Benefit from shared deployment<br /> services scope for client/project <br />management, professional and technical <br />services; and continue <br />to serve clients directly with complementary professional services
        </p>
            </div>
            <div id="love">
        <img id="love1"src="https://pro-inspector.net/wp-content/uploads/2022/03/partners-1024x764.png" />
            </div>
            <div id="oing">
             <p id="kiu"><b>our clients</b></p>
        <img id="lol" src="https://pro-inspector.net/wp-content/uploads/2022/03/sgs.png"/>
        <img id="lols" src="https://pro-inspector.net/wp-content/uploads/2022/03/emeralds.png" />
        <img id="lolss" src="https://pro-inspector.net/wp-content/uploads/2022/03/BV.png" />
        <img id="lolsss" src="https://pro-inspector.net/wp-content/uploads/2022/03/Vodafone-Logo.png" />
            </div>
            <div id="prime">
              <p id="int1"> Name:<emb style="color:red" >*</emb></p><input id="in1"type="text" class="form-control" />
        <p id="int2"> Business Email<emb style="color:red">*</emb></p><input id="in2" type="text" class="form-control" />
        <p id="int3"> conatctnumber<emb style="color:red">*</emb></p><input id="in3" type="text" class="form-control" />
        <p id="int4">
            country<emb style="color:red">*</emb>
            <select  id="in4" class="form-control">
                <option disabled selected value="l"></option>
                <option value="India">India</option>
                <option value="Russia">Russia</option>
                <option value="America">America</option>
                <option value="srilanka">Srilanka</option>
       
            </select>
        <p id="int5"> company/Business Name<emb style="color:red">*</emb></p><input id="in5" type="text" class="form-control" />
        <p id="int7">Industry<emb style="color:red">*</emb></p>
            <select name="cars" id="in7" class="form-control">
                <option disabled selected value="l"></option>
                <option value="India">Automative</option>
                <option value="Russia">Aviation</option>
                <option value="America">Facility management</option>
                <option value="srilanka">Manufacturing</option>
            </select>
        <p id="int8">
            I Want<emb style="color:red">*</emb>
            <select name="cars" id="in8" class="form-control">
                <option  value="l"></option>
                <option value="India">Retail audits</option>
                <option value="Russia">Francise audits</option>
                <option value="America">process audits</option>
                <option value="srilanka">Internal audits</option>
            </select>
        <p id="int9"> Write us<emb style="color:red">*</emb></p><textarea  id="in9"class="form-control"></textarea>
        <button id="in10" class=" btn btn-primary ">Send</button>


            </div>

</body>
</html>
<script>
    document.getElementById("in4").selectedIndex="-1"
</script>

